.vscode/**
.vscode-test/**
src/**
out/test/**
.gitignore
tsconfig.json
package-lock.json
pnpm-lock.yaml
yarn.lock
vsc-extension-quickstart.md
**/*.map
**/*.ts
!out/**/*.d.ts
node_modules/**
media/styles/**
